<div class="container pt-5">
    
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Buscar destinatario:</label>
                <input type="text" class="form-control" id="destinatarioInput" [(ngModel)]="filtrarDestinatario" (keyup)="comenzarBusqueda($event)">
                <ul class="list-group ul-list" *ngIf="!itemSeleccionado">
                    <li class="list-group-item li-list" *ngFor="let item of listaDestinatario | filtroBusquedaDestinatario: filtrarDestinatario" (click)="seleccionarDestinatario(item._id)">{{ item.nombre }}</li>
                </ul>
            </div>  
        </div>
    </div>
    <form [formGroup]="formularioTransferencia">
    <div class="row pt-3">
        <div class="col-6">
    
            <div class="card">
                <div class="card-header" >
                Detalle Destinatario
                </div>
                <div class="card-body" *ngIf="itemSeleccionado">
                    <div class="row">
                        <div class="col-6">
                            Nombre:
                        </div>
                        <div class="col-6">
                            {{ destinatario.nombre }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Correo:
                        </div>
                        <div class="col-6">
                            {{ destinatario.correo }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Banco:
                        </div>
                        <div class="col-6">
                            {{ destinatario.bancoDestino }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Tipo de Cuenta:
                        </div>
                        <div class="col-6">
                            {{ destinatario.tipoCuenta }}
                        </div>
                    </div>
                </div>
                <div class="card-body" *ngIf="!itemSeleccionado">
                    Debe seleccionar un destinatario.
                </div>
            </div>
        </div>
    </div>

    
    <div class="row pt-3">        
            <div class="col-lg-6">            
                <div class="form-group">
                    <label>Monto a transferir:</label>
                    <input type="text" class="form-control" formControlName="monto" id="rutInput" [ngClass]="{'is-invalid': formularioEnviado && form.monto.errors }" montoFormatDirective>
                    <small *ngIf="formularioEnviado && form.monto.errors?.required" class="invalid-feedback">
                        Please provide a valid city.
                    </small>
                </div>                
            </div>
    </div>
    <div class="row pt-4">
        <div class="col-lg-6">
            <button type="button" class="btn btn-primary w-100"  [disabled]="!formularioTransferencia.valid"  (click)="transferir()">Realizar Transferencia</button>
        </div>
    </div>
            
    </form>
</div>
